.Page .header {
  background: #8E488E;
}

.Page .header h1 {
  color: #fff;
}

.Page .header a {
  color: #fff;
  margin-top: -1vw;
}

.Page .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  color: #fff;
  height: 10vh;
  background: #F5F5F5;
}

.Page .footer ul {
  display: flex;
  flex-flow: row nowrap;
}

.Page .footer ul li {
  width: 20vw;
  height: 10vh;
  text-align: center;
  line-height: 5vh;
  float: left;
}

.Page .footer ul li a {
  color: #666;
  text-decoration: none;
}