.shop_content {
  display: flex;
 
  .list {
    width: 100%;
    li {
      border-bottom: 0.1em solid #dadada;
      display: flex;
      align-items: center;
      justify-content: center;
      img, #checks, .conf, .last {
        flex: 1;
        padding: 10px;
      }
      #checks {
        text-align: center;
      }
      .last {
        display: flex;
        input {
          border: none;
          text-align: center;
          border-top: 0.1em solid #dadada;
          border-bottom: 0.1em solid #dadada;
        }
        span {
          padding: 0 6px;
          border: 0.1em solid #dadada;
          &:last-child {
            border: none;
          }
        }
      }
      .conf {
        flex: 3;
        color: red;
        p:first-child {
          color: #333;
        }
      }
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}